.nota-credito-gestion {
	&-header {
		&-volver {
			background: transparent;
			border: 0;
			cursor: pointer;
			color: #ffa0a0;
		}
	}
	.tabla-nc {
		.form-input-custom {
			width: 75px;
			float: right;
			input {
				padding: 0;
				text-align: right;
			}
		}
	}
}