.servicio-reservar-elemento {
	display: flex;
	position: relative;
	flex-flow: column;
	justify-content: stretch;
	height: 290px;
	width: 290px;
	margin: 0 auto;
	background: #f9f9f9;
	border-radius: 15px;

	&-superior,
	&-inferior {
		height: 50%;
		padding: 30px;
		text-align: center;
	}

	&-inferior {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f0f0f5;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	&-superior {
		display: flex;
		justify-content: center;
		padding-top: 60px;
	}

	&-nombre {
		font-size: 21px;
		margin: 0;
		color: #68689c;
	}

	&-separador {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 48px;
		margin: auto;
		text-align: center;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #eaeaf1;
		}
	}

	&-icono {
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 48px;
		height: 48px;
		margin: 0 auto;
		top: 0;
		left: 0;
		right: 0;
		border-radius: 50%;
		background: #dddde9;
		border: 2px solid #fff;
		font-size: 24px;
		color: #525077;
	}

	&-link {
		padding: 10px 23px;
		background: #839aec;
		color: #fff;
		border-radius: 6px;
		font-size: 15px;
		transition: 0.3s background ease;

		&:hover,
		&:focus,
		&:active {
			background: #6d88e8;
			color: #fff;
		}
	}
}
