/*
    Created on : 20/08/2021, 14:09:39
    Author     : Martín Ghiotti
*/
.informe-ventas-tarjeta {
	height: 400px;
	.texto-gris {
		font-size: 1rem;
		line-height: 1.5rem;
		color: #aaa;
	}
	
	.tabla-scrolleable {
		display: block;
		overflow: auto;
		max-height: 320px;
	}
}